.accordion {
    overflow: hidden;
    border: 1px solid #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
}

.accordion-section-title {
    width: 100%;
    padding: 12px;
    display: inline-block;
    border-bottom: 1px solid #fff;
    background: #80B33F;
    ;
    transition: all linear 0.15s;
    text-decoration: none;
    font: 20px Arial;
    text-shadow: 0px 1px 0px #1a1a1a;
    color: #fff;
}

.accordion-section-title.active,
.accordion-section-title:hover {
    background: linear-gradient(180deg, rgba(153, 218, 255, 1) 0%, rgba(41, 106, 138, 1) 49%, rgba(41, 106, 138, 1) 100%, rgba(41, 106, 138, 1) 100%);
    background: -moz-linear-gradient(270deg, rgba(153, 218, 255, 1) 0%, rgba(41, 106, 138, 1) 49%, rgba(41, 106, 138, 1) 100%, rgba(41, 106, 138, 1) 100%);
    background: -ms-linear-gradient(270deg, rgba(153, 218, 255, 1) 0%, rgba(41, 106, 138, 1) 49%, rgba(41, 106, 138, 1) 100%, rgba(41, 106, 138, 1) 100%);
    background: -o-linear-gradient(270deg, rgba(153, 218, 255, 1) 0%, rgba(41, 106, 138, 1) 49%, rgba(41, 106, 138, 1) 100%, rgba(41, 106, 138, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(153, 218, 255, 1)), color-stop(49%, rgba(41, 106, 138, 1)), color-stop(100%, rgba(41, 106, 138, 1)), color-stop(100%, rgba(41, 106, 138, 1)));
    background: -webkit-linear-gradient(270deg, rgba(153, 218, 255, 1) 0%, rgba(41, 106, 138, 1) 49%, rgba(41, 106, 138, 1) 100%, rgba(41, 106, 138, 1) 100%);
    text-decoration: none;
}

.accordion-section:last-child .accordion-section-title {
    border-bottom: none;
}

.accordion-section-content {
    /*padding: 15px;*/
    display: none;
    border-bottom: 1px solid #fff;
    line-height: 1.2;
    overflow: hidden;
    width: 100%;
}


/*----------*/

.media-left,
.media-body {
    display: table-cell;
    vertical-align: top;
}

.media-file {
    width: 70%;
}

.accordion-section-content ul {
    list-style: none;
}

.accordion-section-content ul li {
    padding: 21px 13px;
    border-bottom: 1px solid;
}

.media-left {
    padding-right: 10px;
}

.media-name>a {
    color: #00b4ff;
}

.media-add,
.media-detail,
.media-file,
.media-right {
    display: table-cell;
    vertical-align: top;
}

.doc-desc {
    width: 200px;
    height: 120px;
    background: rgba(91, 93, 95, 0.7);
    border: 1px solid #fcfcfc;
    float: right;
    margin-top: 9px;
}

.media-right {
    position: relative;
}

.media-detail {
    padding: 19px 14px;
}

.media-add img {
    padding-top: 20px;
}

img.toggle-doc-desc {
    position: absolute;
    right: 0;
}
